<div id="<%= dom_id labour %>">
  <p class="text-sm-start">
    <strong>First name:</strong>
    <%= labour.first_name %>
  </p>

  <p class="text-sm-start">
    <strong>Last name:</strong>
    <%= labour.last_name %>
  </p>

  <p class="text-sm-start">
    <strong>Labour:</strong>
    <%= labour.labour %>
  </p>

  <p class="text-sm-start">
    <strong>Address:</strong>
    <%= labour.address %>
  </p>

  <p class="text-sm-start">
    <strong>Contact no:</strong>
    <%= labour.contact_no %>
  </p>

</div>
