
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%# <a class="navbar-brand">Navbar</a> %>
    <p class="text-white fs-3">Hello Birgunj</p>
    <%# <%= image_tag("hello12.jpeg", :alt => "rss feed", :hight => "30px", :width => "50px") %> 
    <div class="d-flex">
      <%= link_to "New labour", new_labour_path, class: "nav-link me-md-2 text-white" %>
      <%= link_to "Back", vehicles_labours_path, class: "nav-link me-md-2 text-white" %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-success btn-sm text-center" %>
   </div> 
  </div>
</nav>
  
<%= render 'labours/search_form' %>  

<p style="color: green"><%= notice %></p>
<h1>Labours</h1>
<div id="labours">
  <% @labours.each do |labour| %>
  <div class="row justify-content-center">
    <div class="card bx box">
      <div class="card-body">
        <%= render labour %>
        <p>
          <%= link_to "Show view", labour, class: "text-decoration-none text-dark" %>
        </p>
      </div>
    </div>
  </div>      
  <% end %>
</div>


<%# <%= link_to "New labour", new_labour_path %>
