<div class="container">
  <p style="color: green"><%= notice %></p>
  <div>
    <%= render @labour %>
  </div>
  <div>
    <%= link_to "Edit", edit_labour_path(@labour), class: "text-decoration-none" %> |
    <%= link_to "Back", labours_path, class: "text-decoration-none" %>
    <%= button_to "Destroy", @labour, method: :delete, class: "text-decoration-none text-danger" %>
  </div>
</div>
