<div id="<%= dom_id vehicle %>">
  <p class="text-sm-start">
    <strong>Vehicle&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= vehicle.vehicle %>
  </p>

  <p class="text-sm-start">
    <strong>Name&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= vehicle.name %>
  </p>
  <p class="text-sm-start">
    <strong>Pick up address&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= vehicle.pick_up_address %>
  </p>
  <p class="text-sm-start">
    <strong>Destination address&nbsp;:</strong>&nbsp;&nbsp;
    <%= vehicle.destination_address %>
  </p>

  <p class="text-sm-start">
    <strong>Pick up time&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= vehicle.pick_up_time %>
  </p>


  <p class="text-sm-start">
    <strong>Destination time&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= vehicle.destination_time %>
  </p>

</div>
