<div class="container">
  <p style="color: green"><%= notice %></p>
  <div>
    <%= render @vehicle, class: "" %>
  </div>
  <div>
    <%= link_to "Edit", edit_vehicle_path(@vehicle), class: "text-decoration-none" %> |
    <%= link_to "Back", vehicles_path, class: "text-decoration-none" %> |
    <%= link_to "Destroy", @vehicle, method: :delete, class: "text-decoration-none text-danger" %>
  </div>
</div>

<%# btn btn-outline-danger btn-sm %>